# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pytest_cache/
.pytest_cache/
celerybeat-schedule

# Virtual environments
backend/venv/
frontend/venv/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
